@model List<TestAssignment.Entity.Models.Order>


<div class="table-responsive">

    <table class="table table-sm">
        <thead>
            <tr class="orderlistheader">
                <th scope="col">
                    #Order
                </th>
                <th scope="col">
                    Date
                </th>
                <th scope="col">Status</th>
                <th scope="col">Payment Mode</th>
                <th scope="col">Rating</th>
                <th scope="col">
                    Total Amount
                </th>
                 @if (User.IsInRole("Admin"))
                {
                <th scope="col">Action</th>
                }
            </tr>
        </thead>

        <tbody>
            @if (Model.Any())
            {
            @foreach (var order in Model)
            {  
                <tr>
                    <td>
                        @order.Id
                    </td>
                    <td>
                        @order.Orderdate
                    </td>
                    <td>
                        @order.Status
                    </td>
                    <td>
                        @order.Paymentmode
                    </td>
                    <td>
                        @for(int i=1; i<=5; i++){
                             <span>
                                @if(i <= order.Rating){
                                    <i class="bi bi-star-fill me-1" style="color: orange;" data-bs-toggle="modal" data-bs-target="#tax-add"></i>
                                }else{
                                    <i class="bi bi-star me-1" style="color: orange;" data-bs-toggle="modal" data-bs-target="#tax-add"></i>        
                                }
                            </span>
                        }
                    </td>
                    <td>
                        @order.Orderamount
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a href="@Url.Action("EditStatus", "Order", new { id = order.Id })">EditStatus</a> 
                        </td>
                    }
                </tr>
            }
            }
            else
            {
                <tr>
                    <td colspan="8"><div class="alert alert-warning text-center mt-3">
                    No records found.
                </div></td>
                </tr>
            }
        </tbody>

    </table>

